/*
 * Theme Name: beaute pure v1.0
 *
 * Layout: Content-Sidebar
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.content-area {
    float: left;
    margin: 0 -25% 0 0;
    width: 100%;
}

.site-main {
    margin: 0 25% 0 0;
}

.site-content .widget-area {
    float: right;
    overflow: hidden;
    width: 25%;
}

.site-footer {
    clear: both;
    width: 100%;
}
