/* 
* BASIC STYLE
  - General Style    
  - Headings Style    
  - Button Style    
  - Form Style    
  - Spacer Style
      
* HEADER 
  - Header Style
  - Navigation Menu Style
  - Megamenu Style

* CONTANT
  - Banner Style
  - Bread-crumb
  - Product Box
  - Testimonial
  - Sidebar
  - Sorting
  - Product Detail Page
  - Cart Page
  - Checkout Page
  - Login Register Page
  - Blog Page
  - About Page
  - 404 Page
  - Contact Page

* FOOTER
*/
/*_______________________________________________________
// BASIC STYLE  //----------------------------
_______________________________________________________*/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css@family=Poppins_3A300,400,500,600,700_7CRaleway_3A300,400,500,500i,600,700');

/* - General Style //---------------- */

::-moz-selection {
    background-color: #ba5773;
    color: #FFF;
}

::selection {
    background-color: #ba5773;
    color: #FFF;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 24px;
    color: #878787;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

body.dark-header {
    padding-top: 82px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.main {
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #6d6d6d;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a:hover {
    color: #ba5773;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

br {
    font-size: 0;
    line-height: 0;
}

hr {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid #f1f1f1;
    border-bottom: none;
    border-left: none;
    border-right: none;
}


ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.position-r {
    position: relative;
}

.position-s {
    position: static;
}

.align-center {
    text-align: center;
    text-align: center;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
    color: #fff;
}

.dark-bg {
    background: #141414;
    color: #fff;
}

.gray-bg {
    background: #f5f5f5;
}

.light-gray-bg {
    background: #fafafa none repeat scroll 0 0;
}

.middle-800 p {
    display: inline-block;
    max-width: 800px;
}

.middle-580 p {
    display: inline-block;
    max-width: 580px;
}

.border-right {
    border-right: 1px solid #e1e1e1;
}

/* - Headings Style   //---------------- */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h1 {
    font-size: 43px;
    letter-spacing: 1px;
    line-height: 40px;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

h3 {
    font-size: 21px;
    line-height: 32px;
}

h2.heading {
    font-size: 25px;
    line-height: 32px;
}

h4 {
    font-size: 17px;
    line-height: 28px;
}

h5 {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}

h6 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
}

/* - Button Style  //----------------*/

.btn, button {
    padding: 13px 15px;
    line-height: 16px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn.full {
    width: 100%;
    text-align: center;
}

.btn.big-width {
    padding: 13px 30px;
}

.btn.big {
    padding: 25px;
}

.btn i.fa {
    font-size: 18px;
    margin: 0 5px;
}

.btn-black {
    color: #fff;
    background: #222;
    border: none;
}

.btn-black:hover {
    color: #fff;
    background: #ba5773;
}

.btn-color {
    color: #fff !important;
    background: #ba5773;
    border: none;
}

.btn-color:hover {
    color: #fff;
    background: rgba(255, 7, 53, 0.80);
}

.btn-white {
    color: #222;
    background: rgba(255, 255, 255, 1);
    border: none;
}

.btn-white:hover {
    color: #222;
    background: #ba5773;
}

/* - Form Style */
select {
    background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eaeaea;
    padding: 7px 24px 7px 5px;
    line-height: 18px;
}

.full select {
    width: 100%;
}

.main-form textarea {
    max-width: 100%;
}

.main-form input, .main-form textarea, .main-form select {
    background: #fff;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid #eaeaea;
    min-height: 40px;
}

.check-box label {
    color: #222;
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

.checkout-section .check-box input[type="checkbox"] {
    margin: 5px 0 0;
    min-height: 1px;
    display: none;
}

/* - Spacer Style  //---------------- */

.right-side {
    float: right;
}

.left-side {
    float: left;
}

.plr-20 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mlr_-20 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.ptb-95 {
    padding-top: 95px;
    padding-bottom: 95px;
}

.pt-95 {
    padding-top: 95px;
}

.pb-95 {
    padding-bottom: 95px;
}

.p-0 {
    padding: 0px;
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.m-0 {
    margin: 0px;
}

/* - Newsletter   //----------------- */

#newslater-popup {
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}

.nl-popup-main {
    display: block;
    background: #171c34;
    overflow: hidden;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}

.nl-popup-inner {
    border: 2px solid #ba5773;
    margin: 20px;
    display: block;
    overflow: hidden;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}

#newslater-popup .newsletter-inner {
    background: transparent;
    padding: 30px 60px;
}

#newslater-popup .newsletter-inner span {
    color: #ba5773;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
}

#newslater-popup .newsletter-inner input {
    width: 270px;
    padding: 7px;
}

#newslater-popup button.mfp-close {
    background-color: #171c34;
    border-radius: 0;
    color: #fff;
    font-size: 35px;
    opacity: 1;
    right: 0;
    top: 0;
}

#newslater-popup .newsletter-inner .main_title {
    color: #fff;
    display: block;
    font-size: 46px;
    margin-bottom: 35px;
}

#newslater-popup .newsletter-inner input {
    margin-bottom: 35px;
}

#newslater-popup .newsletter-inner form button {
    position: relative;
    background: #ba5773;
}

#newslater-popup .newsletter-inner p {
    margin-bottom: 22px;
}

/*_______________________________________________________
// HEADER  //----------------------------
_______________________________________________________*/

/* - Header Style  //---------------- */

.navbar-brand img {
    height: 45px;
}

.header-fixed .navbar-brand img {
    height: 45px;
}

.navbar-header .navbar-brand {
    height: auto;
    padding: 22px 0;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}

.homepage header#header {
    position: fixed;
}

header#header {
    background: transparent;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 0 20px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

header#header.header-fixed {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.search-box {
    position: relative;
}

.navbar-collapse.collapse {
    display: inline-block;
    padding-left: 0;
}

.collapsing {
    display: inline-block;
}

.navbar-collapse > ul {
    display: inline-block;
    float: none !important;
    margin-bottom: -7px;
    text-align: left;
}

.header-right-link > ul > li {
    float: left;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
}

.header-right-link ul li:hover {
    overflow: visible;
}

/*.header-right-link ul li.main-search {
	overflow: visible;
}*/
/*.search-box input.input-text {
	background: #fff;
	border: 1px solid #dedede;
	width: 0;
	opacity: 0;
	padding: 6px;
	margin-top: -3px;
	position: absolute;
	right: 0;
	z-index: 1;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}*/
/*.search-box:hover input.input-text, .search-box input.input-text:focus {
	width: 250px;
	opacity: 1;
}*/
/*.search-box button.search-btn {
	background: url("../images/sprite.png") no-repeat scroll -11px -89px transparent;
	border: none;
	height: 30px;
	width: 25px;
	position: relative;
	right: 0;
	top: -5px;
	z-index: 2;
}
.search-box button.search-btn:hover {
	background-position: -11px -123px;
}*/
.header-right-link > ul > li > a, .header-right-link > ul > li > .header_search_toggle.desktop-view {
    padding: 28px 0 25px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.header-right-link > ul > li > a span {
    background: url("../images/sprite.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    width: 35px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.header-right-link ul li.search-box > a span {
    background-position: -12px -123px;
}

.header-right-link ul li.account-icon > a span {
    background-position: -12px -163px;
}

.header-right-link ul li.cart-icon > a span {
    background-position: -58px -240px;
    position: relative;
}

.header-right-link ul li.account-icon:hover > a span {
    background-position: -12px -204px;
}

.header-right-link ul li.cart-icon > a span small.cart-notification {
    background: transparent;
    color: #ba5773;
    height: 15px;
    line-height: 13px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: 0;
    width: 15px;
    font-weight: 500;
}

/* Navigation Menu Style */

.navbar-nav > li > a {
    padding: 35px 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
    font-size: 16px;
}

.nav > li {
    position: inherit;
}

.nav > li:hover > a, .nav > li.active > a, .nav > li > a:focus {
    background: none;
    color: #ba5773;
}

.header_search_toggle.mobile-view {
    display: none;
}

/*.navbar-nav > li.dropdown > a::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ba5773;
    border-style: solid;
    border-width: 11px;
    bottom: 0;
    content: "";
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.4s ease 0s;
}

.navbar-nav > li.dropdown:hover > a::after {
    opacity: 1;
}*/

.header-link-dropdown {
    background: #fff;
    border-top: 2px solid #ba5773;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /*color: #fff;*/
    position: absolute;
    width: 320px;
    display: inline-block;
    right: 0;
    top: 100%;
    padding: 35px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    z-index: 3;
}

.header-fixed .header-link-dropdown {
    top: 89px;
}

.header-right-link > ul > li:hover .header-link-dropdown {
    opacity: 1;
}

.header-right-link .link-dropdown-list > li {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
}

.header-fixed .nav > li .menu-label {
    top: 6%;
}

.nav > li .menu-label {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 25px;
    transition: all 0.4s ease 0s;
}

.menu-label span {
    padding: 2px 4px;
    color: #ffffff;
    font-size: 11px;
    display: inline-block;
    line-height: initial;
    text-transform: uppercase;
}

.menu-label span::after {
    background: url("../images/sprite.png");
    width: 20px;
    height: 20px;
    content: "";
    top: 7px;
    left: -2px;
    position: absolute;
    display: inline-block;
}

.menu-label .hot-menu {
    background: #ff7878;
}

.menu-label .new-menu {
    background: #ba5773;
}

.menu-label .hot-menu:after {
    background-position: -104px -613px;
}

.menu-label .new-menu:after {
    background-position: -104px -635px;
}

.cart-dropdown ul li a:hover {
    color: #ba5773;
}

.cart-dropdown .cart-list li .media {
    padding-right: 25px;
    margin-top: 0;
}

.cart-dropdown .media-body span {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
}

.cart-dropdown .cart-list li .media .pull-left {
    width: 95px;
    padding-right: 20px;
}

.cart-dropdown .cart-list li .media .pull-left img {
    max-width: 100%;
}

.close-cart {
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}

.cart-dropdown .input-text.qty {
    background-color: transparent;
    padding: 2px 13px;
}

.cart-dropdown .cart-price {
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.account-link-dropdown {
    width: 280px;
}

.header-link-dropdown .dropdown-title {
    color: #ba5773;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.account-link-dropdown a:hover, .account-link-dropdown a.active {
    color: #ba5773;
}

.account-link-dropdown .link-dropdown-list > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* --- Megamenu Style --- */
.nav > li {
    overflow: hidden;
    position: relative;
}

.nav > li:hover {
    overflow: visible;
    position: inherit;
}

#header .nav > li:first-child a {
    padding-left: 0;
}

#header .nav > li:last-child a {
    padding-right: 0;
}

.megamenu {
    background: #fff;
    border-top: 2px solid #ba5773;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: #a4a4a4;
    opacity: 0;
    padding: 20px 30px;
    position: absolute;
    top: 100%;
    z-index: 2;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.megamenu.full {
    left: 0;
    width: 100%;
}

.nav > li.level:hover .megamenu {
    opacity: 1;
}

.megamenu-inner-top {
    display: inline-block;
    width: 100%;
}

.megamenu .sub-menu-level1 li.level2 {
    float: left;
}

.megamenu .level2 > a {
    display: inline-block;
    margin-right: 35px;
    color: #ba5773;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 100%;
}

.megamenu .sub-menu-level2 li.level3 > a {
    display: inline-block;
    padding: 4px 0;
}

.megamenu .sub-menu-level2 li.level3 > a:hover {
    color: #ba5773;
}

.megamenu .sub-menu-level2 li.level3 > a span {
    float: left;
    font-size: 9px;
    margin-right: 9px;
    margin-top: -1px;
}

.megamenu-inner-top .left-p {
    padding-right: 30px;
}

/*_______________________________________________________
// CONTANT  //----------------------------
_______________________________________________________*/

/* - Banner Style  //---------------- */
.banner {
    overflow: hidden;
    position: relative;
    margin-top: 0;
    display: inline-block;
    width: 100%;
}

.main-banner.owl-carousel .owl-wrapper-outer {
    display: inherit;
    margin-top: 0;
    padding-top: 0;
}

.main-banner .owl-controls .owl-pagination {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-banner .owl-pagination .owl-page > span {
    height: 5px;
    width: 30px;
}

/* Search-Wrap */
.sidebar-search-wrap, .sidebar-cart-wrap {
    background: #ffffff none repeat scroll 0 0;
    border-left: 1px solid #f7f7f7;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    z-index: -1;
    width: 100%;
}

.sidebar-table-container {
    height: 100%;
    width: 100%;
}

.sidebar-align-container {
    height: 100%;
    width: 100%;
}

.search-closer, .cart-closer {
    background: url("../images/sprite.png") -78px -798px;
    height: 30px;
    width: 25px;
    cursor: pointer;
}

.search-container, .cart-container {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 970px;
    max-width: 100%;
    z-index: 2;
}

.cart-container {
    border: 1px solid #dbdbdb;
    width: 1050px;
    text-align: left;
}

.search-container input[type="text"] {
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    box-shadow: none;
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    height: auto;
    padding: 18px;
    text-align: center;
    line-height: 65px;
    max-width: 100%;
}

.search-container span {
    color: #777777;
    float: left;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 27px;
    text-transform: uppercase;
    width: 100%;
}

.sidebar-search-wrap.open, .sidebar-cart-wrap.open {
    opacity: 1;
    z-index: 8;
}

/* main-banner icon end */

.main-banner {
    font-family: 'Poppins', sans-serif;
}

.banner-detail a.btn, .perellex-banner a.btn {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    text-transform: uppercase;
}

.banner-detail {
    left: 6%;
    position: absolute;
    top: calc(100% - 60%);
    width: 100%;
}

.banner-detail .banner-detail-inner {
    color: #fff;
}

.banner-detail .banner-detail-inner .banner-title {
    color: #333;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 900;
}

.banner-2 .banner-detail .banner-detail-inner .offer {
    color: #ba5773;
}

.banner-detail .banner-detail-inner span.slogan {
    display: inline-block;
    font-size: 40px;
    color: #ba5773;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner-detail .banner-detail-inner span.offer {
    color: #333333;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    margin-top: 35px;
}

.inner-banner1 {
    background: url(../images/footerbg.jpg) no-repeat scroll center;
    padding-top: 30px;
    background-size: cover;
    display: inline-block;
    text-align: center;
}

.inner-banner1 .banner-detail {
    position: relative;
    left: 0;
}

.inner-banner1 .banner-detail h1 {
    color: #333;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

/* Bread-crumb CSS Start */

.bread-crumb {
    margin-top: 10px;
}

.bread-crumb ul {
    margin: 0 auto;
}
.bread-crumb ul li {
    display: inline-block;
    color: #333;
}

.bread-crumb ul li a {
    color: #333;
}

.bread-crumb ul li a, .bread-crumb ul li span {
    margin: 0 10px;
    font-weight: 600;
}

.bread-crumb ul li a:hover {
    color: #ba5773;
}

.bread-crumb ul li:first-child {
    padding-left: 0;
}

.bread-crumb ul li span {
    color: #ba5773;
}

/* Bread-crumb CSS End */

/* Product Box part */
.heading-part {
    position: relative;
}

.main_title {
    display: inline-block;
    margin-bottom: 0;
}

.category-bar ul li {
    display: inline-block;
}

.category-bar ul li.active {
    pointer-events: none;
}

.category-bar ul li a {
    padding: 12px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.category-bar ul li a.selected {
    background: transparent;
    color: #ba5773;
}

.category-bar ul li:hover a {
    color: #ba5773;
    background: transparent;
}

.pro_cat {
    position: relative;
}

.owl-carousel .owl-wrapper-outer {
    display: inline-block;
    padding-top: 7px;
    margin-top: -7px;
}

.product-listing {
    display: inline-block;
    margin-bottom: -30px;
    width: 100%;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.pro_cat .product-slider-main.selected {
    display: block;
}

.pro_cat .product-slider-main {
    display: none;
}

.product-slider .item, .pro_cat .item {
    padding-left: 15px;
    padding-right: 15px;
}

.product-image {
    position: relative;
    overflow: hidden;
    min-width: 70px;
}

.product-item .product-image a {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-55%);
    -moz-transform: translateY(-50%) translateX(-55%);
    -webkit-transform: translateY(-50%) translateX(-55%);
    -o-transform: translateY(-50%) translateX(-55%);
    opacity: 0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-item:hover .product-image a {
    opacity: 1;
}

.product-item .product-image a:after {
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    color: #ba5773;
    height: 45px;
    width: 45px;
    padding: 10px;
    text-align: center;
}

.product-image img {
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.sale-label {
    background: #ba5773 none repeat scroll 0 0;
    border-radius: 0 20px 20px 0;
    color: #ffffff;
    line-height: 12px;
    padding: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
    z-index: 1;
    font-weight: 600;
}

.new-label {
    background: #ba5773 none repeat scroll 0 0;
    border-radius: 20px 0px 0px 20px;
    color: #ffffff;
    line-height: 12px;
    padding: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
    right: 0;
    z-index: 1;
}

.product-item.sold-out::before {
    background: rgba(255, 255, 255, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.product-item.sold-out::after {
    background: #ba5773;
    content: "Sold out";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-transform: uppercase;
    padding: 10px 15px;
    transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
}

.out-stock {
    background: #fa6b6b none repeat scroll 0 0;
    border-radius: 40px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 40%;
    z-index: 1;
}

.product-detail-inner {
    background: transparent;
    /* position: relative; */
    width: 100%;
    bottom: 0px;
    padding-top: 10px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.product-item-name {
    margin-bottom: 10px;
}

.product-item-name a {
    font-size: 20px;
    display: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.product-item-details {
    margin-top: 20px;
}

.list-type .product-item-details, .product-detail-main .product-item-details {
    text-align: left;
}

.special-products-block .product-item-details {
    margin-top: 0;
}

.shop-list-view:hover .product-item-name a, .product-item:hover .product-item-name a, .special-products-block:hover .product-item-name a, .sidebar-contant ul li:hover .pro-detail-info a {
    color: #ba5773;
}

.price-box {
    display: inline-block;
}

.price-box .price {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.product-item-details .price-box .price.old-price {
    font-size: 18px;
    font-weight: 400;
    color: #fa6b6b;
}

.detail-inner-left ul {
    display: inline-block;
}

.product-item .detail-inner-left ul li {
    float: left;
    padding: 0 10px;
    position: relative;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.product-item .detail-inner-left ul li:last-child {
    padding-right: 62px;
}

.detail-inner-left ul li a {
    background: #f5f5f5 url("../images/sprite.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.detail-inner-left.right-side ul li a {
    border-right: 1px solid #a7a7a7;
    padding: 0 19px;
}

.detail-inner-left.right-side ul li:last-child a {
    border-right: medium none;
    padding-right: 0;
}

.detail-inner-left ul li button {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: medium none;
    display: inline-block;
    font-weight: 400;
    margin-top: 3px;
    padding: 0;
    transition: none 0s ease 0s;
}

.detail-inner-left ul li button:hover {
    color: #ba5773;
}

.detail-inner-left ul li a /*button span, .cat-box-inner .cart-link button span*/
{
    background: #f5f5f5 url("../images/sprite.png") no-repeat scroll -5px -312px;
    height: 45px;
    width: 45px;
    display: inline-block;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.detail-inner-left ul li.pro-cart-icon a {

    background-position: -47px -194px;
}

.detail-inner-left ul li.pro-cart-icon a:hover {
    background-position: -47px -235px;
}

.detail-inner-left ul li.pro-wishlist-icon a {
    background-position: -4px -381px;
}

.detail-inner-left ul li.pro-wishlist-icon a:hover {
    background-position: -4px -414px;
}

.detail-inner-left ul li.pro-wishlist-icon.active a {
    background-position: -48px -424px;
}

.rating-summary-block .rating-result {
    display: inline-block;
    position: relative;
    width: 71px;
}

.rating-summary-block.big .rating-result {
    width: 88px;
}

.rating-summary-block .rating-result:before {
    color: #c7c7c7;
    content: "" "" "" "" "";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    left: 0;
    letter-spacing: 2px;
    line-height: 16px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.rating-summary-block .rating-result > span {
    display: block;
    overflow: hidden;
}

.rating-summary-block .rating-result > span::before {
    color: #ba5773;
    content: "" "" "" "" "";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    position: relative;
    z-index: 1;
}

.rating-summary-block .rating-result:before, .rating-summary-block .rating-result > span:before {
    font-size: 13px;
    height: 13px;
    line-height: 13px;
}

.rating-summary-block.big .rating-result:before, .rating-summary-block.big .rating-result > span:before {
    font-size: 17px;
    height: 17px;
    line-height: 17px;
}

.product-slider .owl-prev, .product-slider .owl-next,
#brand-logo .owl-prev, #brand-logo .owl-next,
#our-sell-pro .owl-prev, #our-sell-pro .owl-next,
.banner .owl-prev, .banner .owl-next,
.client-main .owl-prev, .client-main .owl-next,
.sub-menu-slider .owl-prev, .sub-menu-slider .owl-next,
.pro_cat .owl-prev, .pro_cat .owl-next {
    background: #f5f5f5;
    position: absolute;
    height: 45px;
    width: 45px;
    text-align: center;
    letter-spacing: 0;
    top: 50%;
    font-size: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-slider .owl-prev, .product-slider .owl-next {
    margin-top: -65px;
    top: 15px;
}

.banner .owl-prev, .banner .owl-next {
    background: #fff;
    margin-top: 0;
    transform: translateY(0px);
}

#brand-logo .owl-prev, #brand-logo .owl-next {
    margin-top: -5px;
}

.product-slider .owl-prev:hover, .product-slider .owl-next:hover,
#brand-logo .owl-prev:hover, #brand-logo .owl-next:hover,
#our-sell-pro .owl-prev:hover, #our-sell-pro .owl-next:hover,
.banner .owl-prev:hover, .banner .owl-next:hover,
.client-main .owl-prev:hover, .client-main .owl-next:hover,
.sub-menu-slider .owl-next:hover, .sub-menu-slider .owl-prev:hover,
.pro_cat .owl-prev:hover, .pro_cat .owl-next:hover {
    background: #ba5773;
}

.sub-menu-slider .owl-next {
    top: 40%;
    right: 0px !important;
}

.sub-menu-slider .owl-prev {
    top: 40%;
    left: 0px !important;
}

.banner .owl-next {
    right: 20px;
}

.banner .owl-prev {
    left: 20px;
}

#our-sell-pro .owl-next, .pro_cat .owl-next {
    right: -60px;
}

#our-sell-pro .owl-prev, .pro_cat .owl-prev {
    left: -60px;
}

.client-main .owl-next, #brand-logo .owl-next {
    right: 0;
}

.client-main .owl-prev, #brand-logo .owl-prev {
    left: 0;
}

.product-slider .owl-next {
    right: 10px;
}

.product-slider .owl-prev {
    right: 60px;
}

.product-slider .owl-prev:after, .product-slider .owl-next:after,
#brand-logo .owl-prev:after, #brand-logo .owl-next:after,
#our-sell-pro .owl-prev:after, #our-sell-pro .owl-next:after,
.banner .owl-prev:after, .banner .owl-next:after,
.client-main .owl-prev:after, .client-main .owl-next:after,
.sub-menu-slider .owl-prev:after, .sub-menu-slider .owl-next:after,
.pro_cat .owl-prev:after, .pro_cat .owl-next:after {
    color: #a7a7a7;
    font-size: 30px;
    line-height: 43px;
    font-family: FontAwesome;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-slider .owl-prev:after, #brand-logo .owl-prev:after,
#our-sell-pro .owl-prev:after, .banner .owl-prev:after,
.client-main .owl-prev:after, .sub-menu-slider .owl-prev:after, .pro_cat .owl-prev:after {
    content: "";
}

.product-slider .owl-next:after, #brand-logo .owl-next:after,
#our-sell-pro .owl-next:after, .banner .owl-next:after,
.client-main .owl-next:after, .sub-menu-slider .owl-next:after, .pro_cat .owl-next:after {
    content: "";
}

.product-slider .owl-prev:hover:after, #brand-logo .owl-prev:hover:after,
#our-sell-pro .owl-prev:hover:after, .banner .owl-prev:hover:after,
.client-main .owl-prev:hover:after, .sub-menu-slider .owl-prev:hover:after,
.pro_cat .owl-prev:hover:after {
    color: #fff;
}

.product-slider .owl-next:hover:after, #brand-logo .owl-next:hover:after,
#our-sell-pro .owl-next:hover:after, .banner .owl-next:hover:after,
.client-main .owl-next:hover:after, .sub-menu-slider .owl-next:hover:after,
.pro_cat .owl-next:hover:after {
    color: #fff;
}

/* ------------------ */
.shop-list-view {
    margin-bottom: 30px;
    display: inline-block;
}

.shop-list-view .product-item {
    float: left;
    width: 280px;
    margin-right: 20px;
}

.shop-list-view .product-item-name {
    font-size: 16px;
}

.shop-list-view .price-box {
    margin: 3px 0 15px;
    float: none;
}

.shop-list-view .bottom-detail {
    display: inline-block;
}

.shop-list-view .product-item-details, .product-detail-main .product-item-details {
    margin-top: 0;
}

.bottom-detail ul li {
    display: inline-block;
    padding: 0 5px;
}

.cart-button .pro-cart-icon {
    margin-top: 10px;
}

.product-detail-main .bottom-detail ul li {
    padding: 0 10px;
    border-right: 1px solid #cccccc;
}

.bottom-detail ul li:last-child, .bottom-detail ul li.pro-cart-icon {
    border-right: medium none;
}

.bottom-detail ul li:first-child {
    padding-left: 0;
}

.bottom-detail ul li span {
    background: url(../images/sprite.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 25px;
    width: 30px;
    margin-bottom: -8px;
    margin-right: 7px;
    transition: all 0.4s ease 0s;
}

.bottom-detail ul li.pro-cart-icon span {
    background-position: -54px -242px;
}

.bottom-detail ul li.pro-wishlist-icon span {
    background-position: -12px -424px;
}

.bottom-detail ul li.pro-wishlist-icon.active span {
    background-position: -45px -424px;
}

.bottom-detail ul li.pro-compare-icon span {
    background-position: -12px -492px;
}

.bottom-detail ul li.pro-email-icon span {
    background-position: -49px -497px;
}

/* Testimonial CSS Start */
.client-bg {
    background: url(../images/footerbg.jpg) repeat scroll 0 0;
    position: relative;
}

.top-shadow, .bottom-shadow {
    position: absolute;
    width: 100%;
}

.top-shadow {
    top: -10px;
}

.bottom-shadow {
    bottom: -8px;
}

.client-img {
    margin-right: 40px;
}

.client-main .item {
    display: inline-block;
}

.client-main .item p {
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    margin: 10px 0;
}

.quote1-img {
    text-align: left;
}

.quote2-img {
    text-align: right;
}

.client-img img {
    border-radius: 50%;
    border: 1px solid #ba5773;
    display: inline-block;
    overflow: hidden;
}

.designation {
    color: #221b1f;
    font-size: 20px;
    font-style: italic;
}

.quote {
    border-left: 1px solid #e1e1e1;
    max-width: 670px;
    position: relative;
    padding: 20px 40px;
}

.client-main .item .client-title {
    color: #ba5773;
    font-size: 20px;
    font-weight: 300;
    margin-top: 40px;
    text-transform: none;
}

.owl-pagination {
    display: inline-block;
    margin-top: 20px;
}

.owl-pagination .owl-page {
    float: left;
    margin: 0 3px;
}

.owl-pagination .owl-page > span {
    background: #fff;
    display: inline-block;
    height: 4px;
    width: 20px;
}

.owl-pagination .owl-page.active > span, .owl-pagination .owl-page:hover > span {
    background: #ba5773;
}

.client-main {
    position: relative;
    overflow: hidden;
}

.client-main .owl-controls .owl-pagination {
    display: none !important;
}

/* Testimonial CSS End */

/* Sidebar CSS Start */
.gray-box {
    padding-bottom: 25px;
}

.sidebar-title {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.sidebar-block .sidebar-box {
    position: relative;
}

.sidebar-title h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.listing-box ul li:last-child {
    border-bottom: none;
}

.listing-box ul li a {
    padding: 6px 0px;
    display: inline-block;
    width: 100%;
}

.listing-box ul li:first-child a {
    padding-top: 0;
}

.size ul li {
    margin-bottom: 3px;
}

.size ul li:hover a {
    color: #ba5773;
}

.inner-title {
    color: #000;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
}

.sidebar-item ul li {
    display: inline-flex;
    padding: 7px 0px;
    margin-bottom: 5px;
}

.sidebar-item ul li:first-child {
    padding-top: 0;
}

.sidebar-item .pro-media {
    padding: 0 15px 0 0;
    width: 120px;
}

.sidebar-item-wide .pro-media {
    width: 110px;
}

.pro-detail-info .price-box .price {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    font-family: "Poppins", sans-serif;
}

.pro-detail-info .rating-summary-block {
    padding: 0;
}

.sidebar-item .cart-link button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 600;
}

.sidebar-item .cart-link button:hover {
    color: #ba5773;
}

/* Sidebar CSS END */

/* Sorting CSS Start */
.shorting {
    border-bottom: 1px solid #ededed;
    padding-bottom: 15px;
}

.shorting .view {
    float: left;
    margin-right: 20px;
}

.list-types {
    display: inline-flex;
    float: left;
    margin: 3px 0px 0;
    padding: 0 5px;
}

.list-types-icon {
    background: url(../images/grid-list.png) no-repeat scroll 0 0 #ffffff;
    border: 1px solid transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.list-types.active .list-types-icon {
    background-color: #fff;
    border: 1px solid #ba5773;
}

.grid-icon {
    background-position: 1px 1px;
}

.list-icon {
    background-position: -33px 1px;
}

.grid-icon:hover, .list-types.active .grid-icon {
    background-position: 1px -24px;
}

.list-icon:hover, .list-types.active .list-icon {
    background-position: -33px -24px;
}

.list-types a {
    display: inline-flex;
}

.shorting select {
    font-size: 14px;
}

.short-by, .select-item {
    float: left;
    position: relative;
}

.short-by > span, .show-item > span {
    float: left;
    margin: 5px 10px 3px;
}

.compare {
    float: right;
}

.compare .btn {
    padding: 9px 15px;
}

.pagination-bar {
    text-align: center;
    margin-top: 20px;
}

.pagination-bar ul {
    display: inline-flex;
}

.pagination-bar ul li {
    float: left;
    margin: 0 2px;
}

.pagination-bar ul li a {
    background: #f0f0f0;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
}
.pagination-bar ul li.active a {
    background: #ba5773;
    color: #fff;
}

.page-numbers {
    background: #f0f0f0;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
}

.current {
    background: #ba5773;
    color: #fff;
}

/* Sorting CSS End */

/* Product Detail Page Start */

/* -- Product Zoom Slider Start -- */
.fotorama__nav--thumbs {
    margin-top: 15px;
}

.fotorama__nav__frame.fotorama__nav__frame--thumb {
    height: auto !important;
    margin: 0 8px;
    opacity: 0.3;
}

.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
    opacity: 1;
}

.fotorama__img {
    position: relative;
    top: 0 !important;
}

.fotorama__thumb-border {
    display: none !important;
}

.fotorama__nav::before, .fotorama__stage::before {
    background-image: none;
}

.fotorama__nav::after, .fotorama__stage::after {
    background-image: none;
}

/* -- Product Zoom Slider End -- */

.product-detail-main .product-item-details .product-item-name {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0;
    text-transform: capitalize;
}

.product-listing .shop-list-view .product-item {
    margin-bottom: 0;
}

.product-detail-main .price-box .price {
    font-size: 22px;
}

.product-detail-main .rating-summary-block {
    margin-bottom: 20px;
}

.product-info-stock-sku {
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-info-stock-sku > div {
    display: inline-block;
    margin-right: 20px;
}

.product-info-stock-sku label {
    font-weight: 400;
}

.product-info-stock-sku .price-box {
    display: inline-block;
}

.product-info-stock-sku .info-deta {
    text-transform: uppercase;
    font-weight: bold;
}

.form-control {
    border-color: #dedede;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    height: 40px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.product-qty {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.custom-qty {
    display: inline-flex;
}

.increase.items, .reduced.items {
    background: transparent;
    border: 1px solid #dedede;
    color: #888;
    padding: 13px 15px 12px;
    float: left;
}

.input-text.qty {
    border: 1px solid #dedede;
    border-radius: 5px;
    max-width: 50px;
    padding: 4px 13px;
    float: left;
    text-align: center;
    margin: 0 5px;
}

.share-link {
    margin-top: 30px;
}

.share-link label {
    font-weight: 400;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}

.brand-logo-pro {
    background: #f5f5f5 none repeat scroll 0 0;
}

/* Product Page Tab CSS Start */
.nav-tabs {
    border-bottom: 1px solid #e1e1e1;
}

.nav-tabs > li > a {
    border-color: #eee #eee #ddd;
}

.product-detail-tab {
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-detail-tab .nav > li > a {
    background-color: transparent;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #000;
}

.nav-tabs > li > a.selected, .nav-tabs > li > a.selected:hover, .nav-tabs > li > a.selected:focus {
    background: #ba5773;
    border: medium none;
    color: #ffffff;
}

.tab_content {
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 0;
}

.product-listing .tab_content {
    border: medium none;
    padding: 0;
}

.Description, .items-Product-Tags, .items-Reviews, .comments-area-main {
    line-height: 25px;
}

.tab_content ul li strong {
    font-weight: 500;
    color: #222;
}

.items-Description, .items-Product-Tags, .items-Reviews {
    display: none;
}

.items-Description.selected, .items-Product-Tags.selected, .items-Reviews.selected {
    display: block;
}

/* Product Page Tab CSS End */

/* --------------- Comment CSS START ------------------ */
.comment-list > li {
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
}

.comments-area > .comment-list > li:first-child {
    border: none;
    padding-top: 0;
}

.comment-user {
    float: left;
    margin-right: 20px;
}

.comment-detail {
    display: table-cell;
    padding-bottom: 10px;
}

.comment-detail .user-name {
    text-transform: uppercase;
    color: #232323;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1;
}

ul.child-comment {
    margin-left: 63px;
}

.comment-detail .post-info ul {
    display: inline-flex;
}

.comment-detail .post-info ul li {
    float: left;
    margin-right: 15px;
    font-size: 14px;
    padding: 0;
}

.shop-list-view .product-item-details {
    display: table-cell;
    position: relative;
    text-align: left;
}

.shop-list-view ul li button {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #232323;
    display: inline-block;
    padding: 0;
    transition: none 0s ease 0s;
}

.shop-list-view .detail-inner-left {
    display: inline-block;
    padding: 0 0 10px;
    width: 100%;
}

/* --------------- Comment CSS End ------------------ */

/* Product Detail Page CSS End */

/* checkbox CSS Start */
.checkbox + label, .radio-button + label {
    cursor: pointer;
    line-height: 17px;
    padding-left: 25px;
    position: relative;
}

.checkbox:checked + label::before {
    background: #ba5773 none repeat scroll 0 0;
    border-color: #ba5773;
}

.checkbox + label::before, .radio-button + label::before, .checkbox + label::after {
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}

.checkbox + label::before, .radio-button + label::before {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #d7d7d7;
    border-radius: 2px;
}

.checkbox + label::after {
    background-image: url("../images/check-box-icon.png");
    background-repeat: no-repeat;
    margin-left: 3px;
    margin-top: 3px;
}

.checkbox + label::before, .radio-button + label::before, .checkbox + label::after {
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}

.checkout-section .input-box {
    margin-bottom: 23px;
}

.check-box.left-side {
    margin-top: 10px;
}

.forgot-password {
    color: #0040a5;
    text-decoration: underline;
    font-weight: 600;
    display: inline-block;
}

.contact-info .p-0 {
    border-right: 1px solid #e1e1e1;
}

.contact-info .p-0:last-child {
    border: medium none;
}

.heading-bg h2.heading {
    background: #f0f0f0;
    padding: 8px 17px;
}

.checkout-section h2.heading {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.payment-option-box {
    padding: 20px;
    border: 1px solid #e1e1e1;
}

.payment-option-box-inner {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.payment-top-box {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.paypal-box {
    border: 1px solid #ddd;
    float: left;
    padding: 10px;
    position: relative;
    margin-left: 10px;
}

.paypal-top {
    background: #f5f5f5;
    position: absolute;
    top: -15px;
    left: 5px;
    padding: 0 10px;
}

/* checkbox CSS End */

/* Cart Page CSS Start */
.commun-table th span {
    float: left;
    font-size: 14px;
    font-weight: 400;
    clear: both;
}

.commun-table td .product-title {
    min-width: 300px;
}

table.table {
    border: 15px solid #f5f5f5;
    border-top: none;
    margin-bottom: 0;
}

.complete-order-detail table.table {
    border-top: 15px solid #f5f5f5;
}

.commun-table .table thead tr th {
    background: #f5f5f5;
    border-bottom: none;
    padding: 22px 20px;
}

.cart-item-table .table tbody tr td {
    padding: 20px 25px;
    vertical-align: middle;
}

.cart-total-table .table tbody tr td {
    padding: 10px 25px;
    vertical-align: middle;
}

.cart-total-table .table thead tr th {
    padding: 15px 25px;
    vertical-align: middle;
}

.commun-table .table tbody tr:first-child td {
    border-top: medium none;
}

.cart-item-table thead tr th:first-child, .cart-item-table tbody tr td:first-child {
    max-width: 110px;
}

.cart-item-table tbody tr td:last-child, .cart-item-table thead tr th:last-child {
    text-align: center;
}

.commun-table th ul li {
    text-align: left;
    float: left;
    margin-right: 30px;
}

.commun-table th ul li .price {
    font-size: 14px;
}

.commun-table th ul li:last-child {
    margin-right: 0;
    float: right;
}

.complete-order-table tbody tr td:last-child, .complete-order-table thead tr th:last-child {
    text-align: left;
}

.commun-table .table tbody tr td i.cart-remove-item {
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
}

.commun-table tbody tr td .input-box select {
    width: 100px;
    padding: 5px;
}

.cart-total-table .table tbody tr td b {
    font-size: 16px;
    color: #222;
}

.cart-total-table .table tbody tr td .price {
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.estimate select {
    padding: 12px 10px;
}

/* Cart Page CSS End */

/* Login Register Page CSS Start */
.new-account .link {
    text-decoration: underline;
    color: #222;
}

.new-account .link:hover {
    color: #ba5773;
}

/* Login Register Page CSS Start */

/* Blog Page CSS Start */

.blog-listing .blog-detail, .single-blog .blog-detail {
    margin-top: 15px;
}

.sidebar-box .search-box {
    background: transparent;
    padding: 0;
}

.sidebar-box .search-box input.input-text {
    border: 1px solid #e8e8e8;
    width: 100% !important;
    opacity: 1;
    position: relative;
}

.sidebar-box .search-box button.search-btn {
    background: transparent url("../images/sprite.png") no-repeat scroll -11px -89px;
    position: absolute;
    right: 10px;
    top: 5px;
    left: auto;
    height: 30px;
    width: 25px;
    border: none;
    padding: 0;
}

.sidebar-box .search-box button.search-btn:hover {
    background-position: -11px -123px;
}

.blog-detail .post-info ul li {
    display: inline-block;
    font-style: italic;
}

.blog-detail .post-info ul li:last-child {
    float: right;
}

.blog-item {
    margin-bottom: 40px;
}

/* Blog Page CSS End */

/* About Page CSS Start */
.about-title {
    color: #6b6b6b;
    font-size: 35px;
    font-weight: 300;
    line-height: 55px;
}

.about-detail h2.heading {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: none;
}

.partner-detail-main {
    height: 100%;
}

.team-item {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.team-item:hover {
    background: rgba(255, 7, 53);
}

.team-item:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}

.team-item .team-item-detail {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -40px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.team-item:hover .team-item-detail {
    opacity: 1;
    bottom: 30px;
}

.team-slider {
    position: relative;
}

#team-slider .owl-item .item {
    padding: 0 15px;
}

.customNavigation .btn {
    background: #f6f6f6;
    border-radius: 0;
    position: absolute;
    top: 50%;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.customNavigation .btn:hover {
    background: #dcbd71;
}

.customNavigation .btn.next {
    right: -40px;
}

.customNavigation .btn.prev {
    left: -40px;
}

.customNavigation .btn i.fa {
    color: #333;
    font-size: 20px;
}

.team-item .sub-title {
    color: #fff;
}

.listing-effect .social_icon {
    margin-top: 25px;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.listing-effect:hover .social_icon {
    margin-top: 5px;
}

.listing-effect .social_icon ul li {
    display: inline-block;
    margin: 0 3px;
}

.listing-effect .social_icon ul li i.fa {
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 11px 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.listing-effect .social_icon ul li a i.fa:hover {
    color: #fff;
}

.listing-effect .social_icon ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}

.listing-effect .social_icon ul li a i.fa.fa-twitter:hover {
    background: #00aced;
}

.listing-effect .social_icon ul li a i.fa.fa-dribbble:hover {
    background: #f7679a;
}

.listing-effect .social_icon ul li a i.fa.fa-pinterest:hover {
    background: #cb2027;
}

.listing-effect .listing-meta {
    color: #fff;
}

/* About Page CSS End */

/* 404 Page CSS Start */
.error-block {
    min-height: 965px;
    position: relative;
    overflow: hidden;
}

.error-block > img {
    height: auto;
    left: -100%;
    margin: auto;
    position: absolute;
    right: -100%;
    top: 0;
}

.error-block-detail {
    text-align: center;
}

.error-block-bg {
    background: url(../images/404-bg.jpg) no-repeat scroll left top;
}

.error-block-detail .main-error-text {
    font-family: "Poppins", sans-serif;
    font-size: 230px;
    color: #222;
    line-height: 180px;
    font-weight: 500;
    margin-bottom: 60px;
}

.error-small-text {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.error-slogan {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 30px;
}

.error-block-detail .social_icon {
    margin-bottom: 20px;
}

.big-btn a {
    display: inline-block;
    color: #000;
    background: #dcbd71;
    padding: 20px 50px;
    font-size: 14px;
}

.big-btn a:hover {
    background: #fff;
}

/* 404 Page CSS End */

/* Contact Page CSS Start */
.map .map-part .map-inner-part {
    min-height: 450px;
    width: 100%;
}

.contact-box .contact-icon {
    height: 27px;
    width: 27px;
    display: inline-block;
    background: url(../images/sprite.png) no-repeat scroll 0 0;
}

.contact-box span {
    display: inline-block;
    font-size: 15px;
    color: #1f1f1f;
    line-height: 1.1;
    margin-bottom: 20px;
    width: 100%;
}

.contact-box p {
    margin-bottom: 0;
}

.contact-box .contact-phone-icon {
    background-position: -101px -502px;
}

.contact-box .contact-mail-icon {
    background-position: -101px -543px;
}

.contact-box .contact-open-icon {
    background-position: -101px -583px;
}

.contact-info .no-padding {
    border-right: 1px solid #e1e1e1;
}

.contact-info .no-padding:last-child {
    border: none;
}

/* Contact Page CSS End */

/*_______________________________________________________
// FOOTER  //----------------------------
_______________________________________________________*/
.footer {
    padding: 8px 0 0;
    background: rgba(0, 0, 0, 0) url(../images/footerbg.jpg) no-repeat scroll center center / cover;
}

.footer, .footer a, .footer p {
    color: #878787;
    font-size: 16px;
}

.footer a:hover {
    color: #ba5773;
}

.footer-top {
    padding: 32px 0px;
}

.footer-middle .f-logo {
    margin-bottom: 30px;
}

.footer-top p {
    color: #a4a4a4;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 240px;
}

ul.social-icon li {
    display: inline-block;
}

ul.social-icon li i.fa {
    color: #ba5773;
    background: transparent;
    padding: 11px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 20px;
    height: 45px;
    width: 45px;
    text-align: center;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.social-link ul.social-icon li i.fa {
    font-size: 18px;
    height: 36px;
    width: 36px;
    padding: 10px;
}

.footer_social {
    margin-top: 5px;
}

ul.social-icon li i.fa.fa-facebook:hover {
    color: #3b5998;
}

ul.social-icon li i.fa.fa-twitter:hover {
    color: #1dcaff;
}

ul.social-icon li i.fa.fa-linkedin:hover {
    color: #0077b5;
}

ul.social-icon li i.fa.fa-rss:hover {
    color: #ff6600;
}

ul.social-icon li i.fa.fa-pinterest:hover {
    color: #c8232c;
}

.footer-middle {
    margin: 0px 0 55px 0;
}

.footer-static-block .title {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer .title > span {
    border-bottom: 3px solid #ba5773;
    left: 0;
    margin-left: 15px;
    position: absolute;
    top: 35px;
    width: 50px;
}

.footer-static-block ul.address-footer li {
    margin-bottom: 0px;
}

.footer-static-block ul li {
    padding: 3px 0;
}

.footer hr {
    border-top: 1px solid #e1e1e1;
}

.footer-static-block li i.fa {
    float: left;
    font-size: 20px;
    color: #ba5773;
    margin-top: 5px;
}

.footer-static-block li p {
    margin-bottom: 0px;
}

ul.tagcloud li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul.tagcloud li a {
    border: 1px solid #444444;
    display: inline-block;
    padding: 5px 10px;
}

.sidebar-block ul.tagcloud li a {
    border-color: #ebebeb;
}

ul.tagcloud li a:hover {
    border-color: #ba5773;
}

.footer-static-block li a:hover span {
    color: #ba5773;
}

.footer-static-block .field {
    margin-bottom: 5px;
}

.footer-static-block input, .footer-static-block textarea {
    background-color: transparent;
    border: 1px solid #444;
    width: 100% !important;
    padding: 5px;
}

.footer-bottom {
    margin: 20px 0;
}

.footer-bottom .site-link li {
    display: inline-block;
}

.footer-bottom .site-link li a {
    padding: 0 12px;
}

.footer .bottom {
    padding: 20px 0;
}

.payment ul li {
    display: inline-block;
    padding: 0 10px;
}

.payment ul li a {
    display: inline-block;
    opacity: 0.7;
}

.payment ul li a:hover {
    opacity: 1;
}

/* Scroll-top Arrow CSS Start */
.scroll-top {
    bottom: 20px;
    position: fixed;
    right: 20px;
}

.scroll-top #scrollup:before {
    color: #ffffff;
    content: "";
    font-family: "FontAwesome";
    font-size: 18px;
}

.scroll-top #scrollup {
    background: #ba5773;
    padding: 8px 15px;
    display: none;
    cursor: pointer;
}

/* Scroll-top Arrow CSS End */

.sanpham {
    background: url(../images/footerbg.jpg) no-repeat scroll center;
    background-size: cover;
    display: inline-block;
    text-align: center;
}

.sanpham h3 {
    padding-top: 15px;
}

.logo img {
    margin: -15px;
    width: 115px;
    height: 115px;
    margin-left: 65px;
}